<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form method="post" action="./Name.cshtml">
        <input type="text" name="name"/>
        <button type="submit">Submit name</button>
    </form>
</body>
</html>